*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    margin: 80px auto;
    width: 800px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 400px;
    background-color: white;
    box-shadow:  1px 50px 40px rgba(3, 6, 15, 0.1);
}

.left{
    padding: 20px;
    height: 100%;
    display: block;
    align-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

form{
    margin-top: 20px;
    padding: 14px 100px;
}

form input{
    margin: 5px 0;
    border: none;
    padding: 6px;
    background-color: rgba(0, 0, 255, 0.192);
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    outline: none;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    color: black;
}
form input:hover{
    background-color: rgba(0, 0, 255, 0.534);
}



input,
button, 
label{
    display: block;
    width: 100%;
    font-weight: bold;
}

h1{
    color: blue;
    font-weight: bold;
}

h2{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    
}

button{
    margin-top: 30px;
    background-color: blue;
    color: white;
    width: 200px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    height: 25px;
    border-radius: 10px;
    color: rgb(2, 2, 2);
    font-weight: bolder
}

.sucess-message,
.error-message{
    text-align: center;
    
}

form button:hover{
    background-color: rgb(1, 1, 202);
}

img{
    width: 800px;
}